@mixin heading {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  color: #bdbdbd;
}
.about_company {
  display: grid;
  grid-template-columns: 100px repeat(11, 1fr);
  grid-template-rows: repeat(3, 1fr);

  margin: 120px 0px 0px 135px;

  .about_company_img1 {
    grid-area: 1/2/3/4;
    width: 270px;
    height: 265px;
    margin: 0px 30px 30px 0px;
  }
  .about_company_img2 {
    grid-area: 3/2/5/4;
    width: 270px;
    height: 140px;
  }
  .about_company_img3 {
    grid-area: 1/4/5/6;
    align-self: center;
    width: 270px;
    height: 345px;
  }
  .about_company_description {
    .heading {
      @include heading;
      margin: 0px;
    }
    grid-area: 1/6/5/11;
    margin: 15px 70px 121px 30px;
  }
}
