.formCallback {
  margin: 120px 0px 120px 135px;
  display: grid;
  grid-template-columns: 426px 749px;
  grid-template-rows: 90px 520px;
  .formCallback_heading {
    grid-area: 1/1/2/3;
    @include heading;
    margin: 0px;
  }
  @media (max-width: 768px) {
    .formCallback_heading {
      font-size: 42px;
    }
  }
  @media (max-width: 1310px) {
    .formCallback_heading {
      grid-area: 1/1/2/2;
      justify-self: center;
    }
  }

  .formCallback_form {
    display: flex;
    grid-area: 2/1/3/2;

    flex-direction: column;
    input {
      width: 396px;
      height: 46px;
      margin: 5px 0px 5px 0px;
      border: 0px;
      background-color: #f3f3f3;
    }
    @media (max-width: 480px) {
      input {
        width: 270px;
      }
    }
    #textareaProduct {
      width: 395px;
      height: 147px;
      background-color: #f3f3f3;
      border: 0px;
      margin: 5px 0px 5px 0px;
    }
    @media (max-width: 480px) {
      #textareaProduct {
        width: 270px;
        justify-self: start;
      }
    }
    .formCallback_description {
      width: 331px;
      height: 34px;

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.03em;
      text-align: left;
      color: #333333;
      grid-area: 3/1/4/3;
      margin: 0px 5px 0px 5px;
    }
    .formCallback_button {
      grid-area: 4/1/5/3;
      margin: 5px 0px 5px 0px;
      .formCallback_button_button {
        @include greyButton;
      }
    }
    @media (max-width: 320px) {
      .formCallback_button {
        margin-left: 25px;
      }
    }
  }
  @media (max-width: 1310px) {
    .formCallback_form {
      grid-area: 2/1/3/2;
      justify-self: center;
    }
  }
  @media (max-width: 480px) {
    .formCallback_form {
      justify-self: start;
    }
  }

  .formCallback_img {
    grid-area: 2/2/3/3;
  }
  @media (max-width: 1310px) {
    .formCallback_img {
      grid-area: 3/1/4/2;
      justify-self: center;
    }
  }
  @media (max-width: 1310px) {
    .formCallback_img {
      justify-self: center;
    }
  }
  @media (max-width: 768px) {
    .formCallback_img {
      height: 222px;
    }
  }
  @media (max-width: 480px) {
    .formCallback_img {
      height: 143px;
      justify-self: start;
    }
  }
  @media (max-width: 768px) {
    .formCallback_img_img {
      width: 430px;
    }
  }
  @media (max-width: 480px) {
    .formCallback_img_img {
      width: 270px;
    }
  }
}
@media (max-width: 1310px) {
  .formCallback {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 370px 370px;
  }
}
@media (max-width: 1224px) {
  .formCallback {
    margin: 120px 0px 120px 80px;
  }
}
@media (max-width: 1024px) {
  .formCallback {
    margin: 100px 0px 80px 50px;
  }
}
@media (max-width: 768px) {
  .formCallback {
    margin: 80px 0px 50px 30px;
    grid-template-rows: 90px 370px 250px;
  }
}
@media (max-width: 480px) {
  .formCallback {
    grid-template-rows: 90px 370px 135px;
  }
}
