@import "fonts";

body {
  font-family: TTHoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 0px;
  padding: 0px;
  color: #000000;
}
// HEADER=======================================================================================
@import "header";
.wrapper {
  max-width: 1440px;
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 100%;
  margin: 0px auto;
}
// PROJECT_MENU=================================================================================

@import "_project";

// ABOUT COMPANY ===============================================================================

@import "_aboutCompany";

// MAIN TASK====================================================================================

@import "_mainTask";

// OUR PROJECTS=================================================================================

@import "_ourProjects";

// FORM CALLBACK================================================================================

@import "_formCallback";
