@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"), url("../fonts/TTHoves-DemiBold.ttf") format("truetype"), url("../fonts/TTHoves-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: TTHoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 0px;
  padding: 0px;
  color: #000000;
}

.header_container {
  display: flex;
  justify-self: center;
  align-items: center;
  min-height: 102px;
}
.header_container .menu_img {
  margin: 29.14px 330px 29.14px 135px;
}
.header_container .header_menu {
  padding: 10px;
}
@media (max-width: 1224px) {
  .header_container .menu_img {
    margin: 29.14px 180px 29.14px 80px;
  }
}
@media (max-width: 1024px) {
  .header_container .menu_img {
    margin: 29.14px 100px 29.14px 50px;
  }
}
@media (max-width: 768px) {
  .header_container .menu_img {
    margin: 29.14px 80px 29.14px 30px;
  }
}
.header_container .menu_item {
  margin: 44.69px 60px 45.66px 0px;
}
.header_container ._last_li {
  margin: 44.69px 0px 45.66px 0px;
}
@media (max-width: 1024px) {
  .header_container .menu_item {
    margin: 10px 60px 10px 0px;
  }
}
.header_container .menu_list {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}
.header_container .menu_list .menu_link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  color: #333333;
}
.header_container .menu_list .menu_link:focus {
  text-decoration: overline underline;
}

.wrapper {
  max-width: 1440px;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 100%;
  margin: 0px auto;
}

.project_menu {
  display: flex;
  margin-left: 135px;
  flex-wrap: wrap;
  font-size: 64px;
  font-style: normal;
  letter-spacing: 0em;
  text-align: left;
}
.project_menu .project_menu_description_description {
  margin: 336px 122px 154px 0px;
}
.project_menu .project_menu_description_description .project_menu_description_item1 {
  color: #bdbdbd;
  margin: 0%;
  opacity: 0;
  transform: translateX(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.project_menu .project_menu_description_description .project_menu_description_item2 {
  color: #333333;
  margin: 0%;
  opacity: 0;
  transform: translateX(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.project_menu .project_menu_description_description .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 1224px) {
  .project_menu .project_menu_description_description {
    margin: 15px 122px 15px 0px;
  }
}
.project_menu .project_menu_description_arrow {
  display: flex;
  align-items: center;
}
.project_menu .project_menu_description_arrow .button_arrow {
  border: none;
  background-color: #f2f2f2;
}
.project_menu .project_menu_description_arrow .button_arrow .button_arrow_left {
  transform: rotate(180deg);
}
.project_menu .project_menu_description_arrow .button_arrow:not(:last-child) {
  margin: 0px 23px 0px 0px;
}
.project_menu .project_menu_description_number {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #bdbdbd;
  display: flex;
  margin-top: 94px;
}
.project_menu .project_menu_description_number p {
  margin: 0%;
}
@media (max-width: 1224px) {
  .project_menu .project_menu_description_number {
    margin-top: 15px;
  }
}
.project_menu p:not(:last-child) {
  margin: 0px 26px 0px 0px;
}
.project_menu p:last-child {
  margin: 0px 0px 0px 26px;
}
.project_menu .project_menu_slider {
  display: grid;
  align-items: flex-end;
}
.project_menu .project_menu_slider_img {
  grid-area: 1/1/3/2;
  opacity: 0;
  transform: translateX(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.project_menu .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.project_menu .project_menu_slider_button {
  width: 225px;
  height: 75px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  grid-area: 1/1/3/2;
  z-index: 20;
}
@media (max-width: 1306px) {
  .project_menu .project_menu_slider_img {
    width: 680px;
  }
}
@media (max-width: 1224px) {
  .project_menu .project_menu_slider_img {
    width: 620px;
  }
}
@media (max-width: 1024px) {
  .project_menu .project_menu_slider_img {
    width: 580px;
  }
}
@media (max-width: 936px) {
  .project_menu .project_menu_slider_img {
    width: 540px;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .project_menu .project_menu_slider_img {
    width: 450px;
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .project_menu .project_menu_slider_img {
    width: 270px;
    margin-top: 15px;
  }
}
@media (max-width: 320px) {
  .project_menu .project_menu_slider_img {
    width: 270px;
    margin-top: 15px;
  }
}

@media (max-width: 1224px) {
  .project_menu {
    margin-left: 80px;
    font-size: 42px;
  }
}
@media (max-width: 1024px) {
  .project_menu {
    margin-left: 50px;
  }
}
@media (max-width: 1024px) and (max-width: 768px) {
  .project_menu {
    margin-left: 30px;
  }
}
.about_company {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  grid-template-rows: 300px 140px 1fr;
  margin: 120px 0px 0px 135px;
}
.about_company .about_company_img1 {
  grid-area: 1/2/3/3;
  width: 270px;
  height: 265px;
  margin: 0px 30px 30px 0px;
  opacity: 0;
  transform: translateY(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.about_company .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 1224px) {
  .about_company .about_company_img1 {
    grid-area: 1/1/2/2;
    margin: 0px 30px 30px 0px;
    justify-self: end;
  }
}
@media (max-width: 768px) {
  .about_company .about_company_img1 {
    justify-self: center;
    margin: 0px;
  }
}
.about_company .about_company_img2 {
  grid-area: 2/2/4/4;
  width: 270px;
  height: 140px;
  margin: 0px 30px 0px 0px;
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.about_company .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 1224px) {
  .about_company .about_company_img2 {
    grid-area: 2/1/3/2;
    justify-self: end;
  }
}
@media (max-width: 768px) {
  .about_company .about_company_img2 {
    grid-area: 2/1/3/2;
    justify-self: center;
    margin: 0px;
  }
}
@media (max-width: 320px) {
  .about_company .about_company_img2 {
    width: 250px;
    justify-self: start;
  }
}
.about_company .about_company_img3 {
  grid-area: 1/3/4/4;
  align-self: center;
  width: 270px;
  height: 345px;
  justify-self: start;
  opacity: 0;
  transform: translateX(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.about_company .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 1224px) {
  .about_company .about_company_img3 {
    grid-area: 1/2/3/3;
  }
}
@media (max-width: 768px) {
  .about_company .about_company_img3 {
    grid-area: 3/1/4/2;
    margin: 30px 0px 0px 0px;
    justify-self: center;
  }
}
.about_company .about_company_description {
  width: 400px;
  grid-area: 1/4/5/7;
  margin: 15px 70px 121px 30px;
}
.about_company .about_company_description .heading {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  color: #bdbdbd;
  margin: 0px;
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.about_company .about_company_description .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 1224px) {
  .about_company .about_company_description {
    grid-area: 3/1/4/3;
    justify-self: center;
  }
}
@media (max-width: 768px) {
  .about_company .about_company_description {
    grid-area: 4/1/5/2;
    margin: 15px 70px 30px 0px;
    padding-left: 30px;
    justify-self: start;
  }
  .about_company .about_company_description .heading {
    font-size: 42px;
  }
}
@media (max-width: 540px) {
  .about_company .about_company_description {
    width: 300px;
  }
}
@media (max-width: 370px) {
  .about_company .about_company_description {
    width: 270px;
    padding-left: 0px;
  }
}
.about_company .about_company_description_description {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.about_company .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

@media (max-width: 1224px) {
  .about_company {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .about_company_img3 {
    grid-area: 3/1/4/2;
  }
}
@media (max-width: 768px) {
  .about_company {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 140px 375px 1fr;
    justify-content: center;
  }
}
@media (max-width: 370px) {
  .about_company {
    grid-template-columns: 270px;
    grid-template-rows: 300px 140px 375px 370px;
    justify-content: center;
  }
}
@media (max-width: 1224px) {
  .about_company {
    margin-left: 80px;
  }
}
@media (max-width: 1024px) {
  .about_company {
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .about_company {
    margin-left: 30px;
  }
}
.main_task {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 120px 0px 0px 135px;
}
.main_task .main_task_header {
  grid-area: 1/1/2/3;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  color: #bdbdbd;
  justify-self: start;
  opacity: 0;
  transform: translateY(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.main_task .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 768px) {
  .main_task .main_task_header {
    grid-area: 1/1/2/2;
    margin: 0%;
    font-size: 42px;
    justify-self: center;
  }
}
.main_task .main_task_description1 {
  grid-area: 2/1/3/2;
  justify-self: start;
  padding-left: 134px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 80px;
  opacity: 0;
  transform: translateX(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.main_task .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 1024px) {
  .main_task .main_task_description1 {
    padding-left: 0px;
    margin: 0%;
  }
}
@media (max-width: 768px) {
  .main_task .main_task_description1 {
    grid-area: 2/1/3/2;
    font-size: 16px;
  }
}
.main_task .main_task_description2 {
  grid-area: 2/2/3/3;
  justify-self: end;
  padding: 0px 40px 0px 70px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0;
  transform: translateX(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.main_task .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 768px) {
  .main_task .main_task_description2 {
    padding: 0px;
    font-size: 16px;
    grid-area: 3/1/4/2;
  }
}

@media (max-width: 1224px) {
  .main_task {
    margin: 120px 0px 0px 80px;
  }
}
@media (max-width: 1024px) {
  .main_task {
    margin: 30px 0px 0px 50px;
  }
}
@media (max-width: 768px) {
  .main_task {
    margin: 10px 0px 0px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    padding: 0px 50px 0px 30px;
  }
}
@media (max-width: 420px) {
  .main_task {
    margin: 10px 0px 0px 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    padding: 0px;
  }
}
.ourProjects {
  flex-basis: 1440px;
  margin-left: 135px;
}
.ourProjects .ourProjects_description {
  flex-grow: 1;
}
.ourProjects .ourProjects_description .ourProjects_description_description {
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  color: #bdbdbd;
  opacity: 0;
  transform: translateY(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_description .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
@media (max-width: 768px) {
  .ourProjects .ourProjects_description .ourProjects_description_description {
    font-size: 42px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .ourProjects .ourProjects_description .ourProjects_description_description {
    text-align: start;
  }
}
.ourProjects .ourProjects_img {
  display: flex;
  flex-wrap: wrap;
}
.ourProjects .ourProjects_img .ourProjects_img_item1,
.ourProjects .ourProjects_img .ourProjects_img_item2 {
  flex-basis: 570px;
  margin: 15px 30px 15px 0px;
  flex-grow: 1;
}
.ourProjects .ourProjects_img .container1 {
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0px;
  transition: opacity 0.3s;
  width: 570px;
  height: 255px;
  background-color: #333333;
  flex-grow: 1;
}
.ourProjects .ourProjects_img .container1 p {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 48px 78px 14px 79px;
}
.ourProjects .ourProjects_img .container1 a {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  margin-left: 79px;
}
.ourProjects .ourProjects_img .container1 a img {
  height: 12px;
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_img .container1 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 188px;
  }
  .ourProjects .ourProjects_img .container1 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 48px 78px 14px 79px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_img .container1 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 116px;
  }
  .ourProjects .ourProjects_img .container1 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 24px;
    margin: 15px 15px 5px 55px;
  }
  .ourProjects .ourProjects_img .container1 a {
    margin-left: 55px;
  }
}
.ourProjects .ourProjects_img .ourProjects_img_1,
.ourProjects .ourProjects_img .ourProjects_img_2,
.ourProjects .ourProjects_img .ourProjects_img_3,
.ourProjects .ourProjects_img .ourProjects_img_4,
.ourProjects .ourProjects_img .ourProjects_img_5 {
  position: relative;
  display: inline-flex;
}
.ourProjects .ourProjects_img .ourProjects_img_1 {
  opacity: 0;
  transform: translateX(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .ourProjects_img_1:hover .container1 {
  opacity: 0.6;
  transition: opacity 0.3s;
}
.ourProjects .ourProjects_img .container2 {
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0px;
  transition: opacity 0.3s;
  width: 570px;
  height: 255px;
  background-color: #333333;
  flex-grow: 1;
}
.ourProjects .ourProjects_img .container2 p {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 48px 78px 14px 79px;
}
.ourProjects .ourProjects_img .container2 a {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  margin-left: 79px;
}
.ourProjects .ourProjects_img .container2 a img {
  height: 12px;
}
.ourProjects .ourProjects_img .ourProjects_img_2 {
  position: relative;
  display: inline-flex;
  opacity: 0;
  transform: translateX(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .ourProjects_img_2:hover .container2 {
  opacity: 0.6;
  transition: opacity 0.3s;
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_img .container2 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 188px;
  }
  .ourProjects .ourProjects_img .container2 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 48px 78px 14px 79px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_img .container2 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 116px;
  }
  .ourProjects .ourProjects_img .container2 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 24px;
    margin: 15px 15px 5px 55px;
  }
  .ourProjects .ourProjects_img .container2 a {
    margin-left: 55px;
  }
}
.ourProjects .ourProjects_img .ourProjects_img_item3 {
  flex-basis: 270px;
  margin: 15px 30px 15px 0px;
}
.ourProjects .ourProjects_img .container3 {
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0px;
  transition: opacity 0.3s;
  width: 270px;
  height: 255px;
  background-color: #333333;
  flex-grow: 1;
}
.ourProjects .ourProjects_img .container3 p {
  color: #ffffff;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin: 68px 15px 15px 15px;
}
.ourProjects .ourProjects_img .container3 a {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  margin-left: 15px;
}
.ourProjects .ourProjects_img .container3 a img {
  height: 12px;
}
.ourProjects .ourProjects_img .ourProjects_img_3 {
  opacity: 0;
  transform: translateX(-120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .ourProjects_img_3:hover .container3 {
  opacity: 0.6;
  transition: opacity 0.3s;
}
@media (max-width: 850px) {
  .ourProjects .ourProjects_img .container3 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    height: 538px;
  }
  .ourProjects .ourProjects_img .container3 p {
    color: #ffffff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin: 190px 15px 5px 75px;
  }
  .ourProjects .ourProjects_img .container3 a {
    margin-left: 75px;
  }
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_img .container3 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 397px;
  }
  .ourProjects .ourProjects_img .container3 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 79px 15px 5px 75px;
  }
  .ourProjects .ourProjects_img .container3 a {
    margin-left: 75px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_img .container3 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 245px;
  }
  .ourProjects .ourProjects_img .container3 p {
    font-size: 24px;
    margin: 75px 15px 5px 55px;
  }
  .ourProjects .ourProjects_img .container3 a {
    margin-left: 55px;
  }
}
.ourProjects .ourProjects_img .ourProjects_img_item4 {
  flex-basis: 470px;
  margin: 15px 30px 15px 0px;
}
.ourProjects .ourProjects_img .container4 {
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0px;
  transition: opacity 0.3s;
  width: 470px;
  height: 255px;
  background-color: #333333;
  flex-grow: 1;
}
.ourProjects .ourProjects_img .container4 p {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 48px 78px 14px 30px;
}
.ourProjects .ourProjects_img .container4 a {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  margin-left: 30px;
}
.ourProjects .ourProjects_img .container4 a img {
  height: 12px;
}
.ourProjects .ourProjects_img .ourProjects_img_4 {
  opacity: 0;
  transform: translateY(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .fixed {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .ourProjects_img_4:hover .container4 {
  opacity: 0.6;
  transition: opacity 0.3s;
}
@media (max-width: 850px) {
  .ourProjects .ourProjects_img .container4 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    height: 310px;
  }
  .ourProjects .ourProjects_img .container4 p {
    color: #ffffff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin: 65px 15px 5px 75px;
  }
  .ourProjects .ourProjects_img .container4 a {
    margin-left: 75px;
  }
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_img .container4 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 227px;
  }
  .ourProjects .ourProjects_img .container4 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 79px 15px 5px 75px;
  }
  .ourProjects .ourProjects_img .container4 a {
    margin-left: 75px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_img .container4 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 141px;
  }
  .ourProjects .ourProjects_img .container4 p {
    font-size: 24px;
    margin: 25px 15px 5px 55px;
  }
  .ourProjects .ourProjects_img .container4 a {
    margin-left: 55px;
  }
}
.ourProjects .ourProjects_img .ourProjects_img_item5 {
  flex-basis: 370px;
  margin: 15px 30px 15px 0px;
}
.ourProjects .ourProjects_img .container5 {
  position: absolute;
  opacity: 0;
  top: 15px;
  left: 0px;
  transition: opacity 0.3s;
  width: 370px;
  height: 255px;
  background-color: #333333;
  flex-grow: 1;
}
.ourProjects .ourProjects_img .container5 p {
  color: #ffffff;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin: 68px 15px 15px 25px;
}
.ourProjects .ourProjects_img .container5 a {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-decoration: none;
  margin-left: 25px;
}
.ourProjects .ourProjects_img .container5 a img {
  height: 12px;
}
.ourProjects .ourProjects_img .ourProjects_img_5 {
  opacity: 0;
  transform: translateX(120px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .fixed {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.ourProjects .ourProjects_img .ourProjects_img_5:hover .container5 {
  opacity: 0.6;
  transition: opacity 0.3s;
}
@media (max-width: 850px) {
  .ourProjects .ourProjects_img .container5 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    height: 392px;
  }
  .ourProjects .ourProjects_img .container5 p {
    color: #ffffff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin: 65px 15px 5px 75px;
  }
  .ourProjects .ourProjects_img .container5 a {
    margin-left: 75px;
  }
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_img .container5 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 289px;
  }
  .ourProjects .ourProjects_img .container5 p {
    color: #ffffff;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 79px 15px 5px 75px;
  }
  .ourProjects .ourProjects_img .container5 a {
    margin-left: 75px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_img .container5 {
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 179px;
  }
  .ourProjects .ourProjects_img .container5 p {
    font-size: 24px;
    margin: 25px 15px 5px 55px;
  }
  .ourProjects .ourProjects_img .container5 a {
    margin-left: 55px;
  }
}
.ourProjects .ourProjects_img .ourProjects_img_item3,
.ourProjects .ourProjects_img .ourProjects_img_item4,
.ourProjects .ourProjects_img .ourProjects_img_item5 {
  margin-right: 30px;
}
@media (max-width: 935px) {
  .ourProjects .ourProjects_img .ourProjects_img_item1,
.ourProjects .ourProjects_img .ourProjects_img_item2,
.ourProjects .ourProjects_img .ourProjects_img_item3,
.ourProjects .ourProjects_img .ourProjects_img_item4,
.ourProjects .ourProjects_img .ourProjects_img_item5 {
    flex-grow: 1;
  }
}
@media (max-width: 850px) {
  .ourProjects .ourProjects_img .ourProjects_img_item3,
.ourProjects .ourProjects_img .ourProjects_img_item4,
.ourProjects .ourProjects_img .ourProjects_img_item5 {
    flex-grow: 1;
    width: 570px;
  }
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_img .ourProjects_img_item1,
.ourProjects .ourProjects_img .ourProjects_img_item2,
.ourProjects .ourProjects_img .ourProjects_img_item4,
.ourProjects .ourProjects_img .ourProjects_img_item3,
.ourProjects .ourProjects_img .ourProjects_img_item5 {
    flex-grow: 1;
    width: 420px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_img .ourProjects_img_item1,
.ourProjects .ourProjects_img .ourProjects_img_item2,
.ourProjects .ourProjects_img .ourProjects_img_item3,
.ourProjects .ourProjects_img .ourProjects_img_item4,
.ourProjects .ourProjects_img .ourProjects_img_item5 {
    flex-grow: 1;
    width: 260px;
  }
}
@media (max-width: 935px) {
  .ourProjects .ourProjects_img {
    justify-content: center;
  }
}
.ourProjects .ourProjects_button {
  display: flex;
  width: 1170px;
  justify-content: end;
}
.ourProjects .ourProjects_button .ourProjects_description_button {
  color: #ffffff;
  width: 225px;
  height: 75px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333333;
}
@media (max-width: 1334px) {
  .ourProjects .ourProjects_button {
    width: 930px;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .ourProjects .ourProjects_button {
    width: 800px;
  }
}
@media (max-width: 850px) {
  .ourProjects .ourProjects_button {
    width: 700px;
  }
}
@media (max-width: 730px) {
  .ourProjects .ourProjects_button {
    width: 650px;
  }
}
@media (max-width: 630px) {
  .ourProjects .ourProjects_button {
    width: 570px;
  }
}
@media (max-width: 480px) {
  .ourProjects .ourProjects_button {
    width: 420px;
  }
}
@media (max-width: 440px) {
  .ourProjects .ourProjects_button {
    width: 380px;
  }
}
@media (max-width: 404px) {
  .ourProjects .ourProjects_button {
    width: 350px;
  }
}
@media (max-width: 375px) {
  .ourProjects .ourProjects_button {
    width: 320px;
  }
}
@media (max-width: 320px) {
  .ourProjects .ourProjects_button {
    width: 270px;
    justify-content: center;
  }
}

@media (max-width: 1224px) {
  .ourProjects {
    margin-left: 80px;
  }
}
@media (max-width: 1024px) {
  .ourProjects {
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .ourProjects {
    margin-left: 30px;
  }
}
.formCallback {
  margin: 120px 0px 120px 135px;
  display: grid;
  grid-template-columns: 426px 749px;
  grid-template-rows: 90px 520px;
}
.formCallback .formCallback_heading {
  grid-area: 1/1/2/3;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  color: #bdbdbd;
  margin: 0px;
}
@media (max-width: 768px) {
  .formCallback .formCallback_heading {
    font-size: 42px;
  }
}
@media (max-width: 1310px) {
  .formCallback .formCallback_heading {
    grid-area: 1/1/2/2;
    justify-self: center;
  }
}
.formCallback .formCallback_form {
  display: flex;
  grid-area: 2/1/3/2;
  flex-direction: column;
}
.formCallback .formCallback_form input {
  width: 396px;
  height: 46px;
  margin: 5px 0px 5px 0px;
  border: 0px;
  background-color: #f3f3f3;
}
@media (max-width: 480px) {
  .formCallback .formCallback_form input {
    width: 270px;
  }
}
.formCallback .formCallback_form #textareaProduct {
  width: 395px;
  height: 147px;
  background-color: #f3f3f3;
  border: 0px;
  margin: 5px 0px 5px 0px;
}
@media (max-width: 480px) {
  .formCallback .formCallback_form #textareaProduct {
    width: 270px;
    justify-self: start;
  }
}
.formCallback .formCallback_form .formCallback_description {
  width: 331px;
  height: 34px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #333333;
  grid-area: 3/1/4/3;
  margin: 0px 5px 0px 5px;
}
.formCallback .formCallback_form .formCallback_button {
  grid-area: 4/1/5/3;
  margin: 5px 0px 35px 0px;
}
.formCallback .formCallback_form .formCallback_button .formCallback_button_button {
  color: #ffffff;
  width: 225px;
  height: 75px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #333333;
}
@media (max-width: 320px) {
  .formCallback .formCallback_form .formCallback_button {
    margin-left: 25px;
  }
}
@media (max-width: 1310px) {
  .formCallback .formCallback_form {
    grid-area: 2/1/3/2;
    justify-self: center;
  }
}
@media (max-width: 480px) {
  .formCallback .formCallback_form {
    justify-self: start;
  }
}
.formCallback .formCallback_img {
  grid-area: 2/2/3/3;
}
@media (max-width: 1310px) {
  .formCallback .formCallback_img {
    grid-area: 3/1/4/2;
    justify-self: center;
  }
}
@media (max-width: 1310px) {
  .formCallback .formCallback_img {
    justify-self: center;
  }
}
@media (max-width: 768px) {
  .formCallback .formCallback_img {
    height: 222px;
  }
}
@media (max-width: 480px) {
  .formCallback .formCallback_img {
    height: 143px;
    justify-self: start;
  }
}
@media (max-width: 768px) {
  .formCallback .formCallback_img_img {
    width: 430px;
  }
}
@media (max-width: 480px) {
  .formCallback .formCallback_img_img {
    width: 270px;
    justify-self: start;
  }
}

@media (max-width: 1310px) {
  .formCallback {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 370px 370px;
  }
}
@media (max-width: 1224px) {
  .formCallback {
    margin: 120px 0px 120px 80px;
  }
}
@media (max-width: 1024px) {
  .formCallback {
    margin: 100px 0px 80px 50px;
  }
}
@media (max-width: 768px) {
  .formCallback {
    margin: 80px 0px 50px 30px;
    grid-template-rows: 90px 370px 250px;
  }
}
@media (max-width: 480px) {
  .formCallback {
    grid-template-rows: 90px 370px 135px;
  }
}
.footer {
  background-color: #2c2c2c;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  flex-wrap: wrap;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer .footerLogo {
  flex-basis: 305px;
  height: 346px;
  margin: 57px 0px 0px 116px;
}
@media (max-width: 1390px) {
  .footer .footerLogo {
    height: 240px;
  }
}
@media (max-width: 1224px) {
  .footer .footerLogo {
    margin: 57px 0px 0px 80px;
  }
}
@media (max-width: 1024px) {
  .footer .footerLogo {
    margin: 57px 0px 0px 50px;
  }
}
@media (max-width: 768px) {
  .footer .footerLogo {
    margin: 57px 0px 0px 30px;
  }
}
@media (max-width: 605px) {
  .footer .footerLogo {
    height: 100px;
    text-align: center;
    margin: 57px 0px 0px 15px;
  }
}
.footer .footerInformation {
  flex-basis: 240px;
  height: 346px;
  margin-top: 57px;
  margin-left: 30px;
}
.footer .footerInformation .footerInformation_list {
  list-style: none;
}
@media (max-width: 1390px) {
  .footer .footerInformation {
    height: 240px;
  }
}
@media (max-width: 605px) {
  .footer .footerInformation {
    margin-left: 50px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .footer .footerInformation {
    margin-left: 40px;
    text-align: center;
  }
}
.footer .footerContact {
  display: grid;
  grid-template-columns: 30px 340px;
  grid-template-rows: 30px 210px;
  flex-wrap: wrap;
  margin-left: 30px;
  height: 346px;
  margin-top: 57px;
}
.footer .footerContact .footerContact_list_description {
  grid-area: 1/1/2/3;
}
.footer .footerContact .footerContact_list {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: 30px 370px;
  grid-template-rows: 72px 72px 36px;
}
.footer .footerContact .footerContact_list .footerContact_list_item1 {
  grid-area: 1/1/2/3;
  display: grid;
  grid-template-columns: 30px 370px;
  grid-template-rows: 72px;
}
.footer .footerContact .footerContact_list .footerContact_list_item1 .footerContact_list_img1 {
  grid-area: 1/1/2/2;
}
.footer .footerContact .footerContact_list .footerContact_list_item1 .footerContact_list_par {
  grid-area: 1/2/2/3;
}
.footer .footerContact .footerContact_list .footerContact_list_item2 {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: 30px 370px;
  grid-template-rows: 72px;
}
.footer .footerContact .footerContact_list .footerContact_list_item2 .footerContact_list_img2 {
  grid-area: 1/1/2/2;
}
.footer .footerContact .footerContact_list .footerContact_list_item2 .footerContact_list_par {
  grid-area: 1/2/2/3;
}
.footer .footerContact .footerContact_list .footerContact_list_item3 {
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: 30px 370px;
  grid-template-rows: 72px;
}
.footer .footerContact .footerContact_list .footerContact_list_item3 .footerContact_list_img3 {
  grid-area: 1/1/2/2;
}
.footer .footerContact .footerContact_list .footerContact_list_item3 .footerContact_list_par {
  grid-area: 1/2/2/3;
}
.footer .footerContact .footerContact_list_img {
  margin-right: 20px;
}
@media (max-width: 1390px) {
  .footer .footerContact {
    height: 240px;
  }
}
@media (max-width: 768px) {
  .footer .footerContact {
    margin-top: 0px;
  }
}
@media (max-width: 605px) {
  .footer .footerContact {
    justify-self: center;
  }
}
.footer .socialNetwork {
  flex-basis: 305px;
  height: 346px;
  margin-top: 57px;
  margin-left: 30px;
}
@media (max-width: 1390px) {
  .footer .socialNetwork {
    height: 80px;
  }
}
@media (max-width: 768px) {
  .footer .socialNetwork {
    margin-top: 0px;
    text-align: center;
  }
  .footer .socialNetwork ul {
    justify-content: center;
  }
}
.footer .allRight {
  flex-basis: 1440px;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #c8c8c8;
  opacity: 0.5;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 45px;
}
.footer .allRight p {
  margin-top: 12px;
}
.footer .footerInformation_list,
.footer .footerContact_list,
.footer .socialNetwork_list {
  list-style: none;
  padding: 0px;
}
.footer .socialNetwork_list {
  display: flex;
}
.footer .socialNetwork_list li:not(:last-child) {
  margin-right: 40px;
}